/* Reset some default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    margin-bottom: 10px;
}

.gender-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.gender-label {
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Center the form vertically and horizontally */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style labels and input fields */
label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

p {
    display: inline-block;
    margin-left: 5px;
    color: rgb(86, 85, 85);
    font-style: italic;

}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

