 body {
     font-family: Arial, sans-serif;
     text-align: center;
 }

 .low {
    display: inline-block;
     color: green;
     background-color: rgb(189, 186, 181);

 }

 .medium {
    display: inline-block;
     color: yellow;
    background-color: rgb(189, 186, 181);
 }

 .high {
    display: inline-block;
     color: red;
    background-color: rgb(189, 186, 181);
 }
 button[type="submit"] {
     background-color: #007BFF;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 4px;
     cursor: pointer;
 }

 button[type="submit"]:hover {
     background-color: #0056b3;
 }